body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1{
    font-family: 'Metamorphous', cursive;
    margin-bottom: 30px !important;
    @include media-breakpoint-down(sm){
        font-size: 22px;
    }
}

h2{
    font-family: 'Metamorphous', cursive; 
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm){
        font-size: 20px;
    }
}

h3{
    font-size: 1.25rem;
    font-weight: 700;
    @include media-breakpoint-down(sm){
        font-size: 16px;
        margin-top: 1rem;
    }
}

strong{
    font-weight: 700;
}

.section{@include section}
.section-top{@include section-top}
.section-bottom{@include section-bottom}

.lead{
    font-weight: 700;
    @include media-breakpoint-down(sm){
        margin-top: 1rem;
    }
}

.breadcrumb{
    margin-bottom: map-get($spacers,4) !important;
    background: 0;
    padding-left: 0;
    padding-right: 0;
}

.btn{
    font-family: 'Metamorphous', cursive;
}

.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    @include media-breakpoint-only(md){
        height: 200px;
    }
    @include media-breakpoint-down(sm){
        height: 100px;
    }
    h1{
        color: white;
        small{
            font-size: 50%;
        }
    }
}