@mixin section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    @include media-breakpoint-down(md){
        padding-top: $section-padding / 2;
        padding-bottom: $section-padding / 2;
    }
}

@mixin section-top{
    padding-top: $section-padding;
    @include media-breakpoint-down(md){
        padding-top: $section-padding / 2;
    }
}

@mixin section-bottom{
    padding-bottom: $section-padding;
    @include media-breakpoint-down(md){
        padding-bottom: $section-padding / 2;
    }
}